
h1 {
    font-family: Georgia;
    font-size: 34px;
    font-style: bold;
    text-align: center;
    color: #8EF9F3;
    padding-top: 30px;
}
h2 {
    font-family: Georgia;
    font-size: 26px;
    font-style: italic;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
    color: #463444;
}
h3{
  font-family: Times;
  text-align: center;
  font-weight: bold;
  color: #D7F2BA;
}
p{
  font-family: arial;
  font-size: 19px;
  text-align: justify;
  color: #F1FFFA;
  margin-right: 900px;
  margin-left: 900px;
  float: middle;
  font-weight: 100;
}
.IdealJobScreenshot {
  text-align: center;
}
.MyerBriggsPersonalityTestResults {
  text-align: center;
}
